layout
* Create pages_and_layout branch.
* Add DataTables.
* Add theme and styles.

Users and Registration
* Add users registration.
* Specify what users can do.

Layout JS
* Add dynamic view to show method.

Application
* Tranfer the project to mobile application.

Final Deploying
* Upload the project into host.
* Run the project in a local enviroment.